body{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: darkgray;
  width: 100%;
  display: inline-block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.expenses-container{

  background-color: whitesmoke;
  display: flex;
  width:500px;
  padding:10px;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  float: none;
  
}

#money-plus{
  color: green;
  float: left;
  margin: 10px;
}

#money-minus{
  color: red;
  float: left;
  margin: 10px;
}

li{
  list-style: none;
  margin:0 0 3px 0;
  
}

li{
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid grey;
  width:500px;
  margin:0 auto;
}

.minus{
  border-right-width: 4px;
  border-right-color: red;
}
.plus{
  border-right-color: green;
  border-right-width: 4px;
}

#form{
  display: inline-block;
  width: 500px;
  height: 150px;
  outline:1px solid royalblue;
  
}
input{
  border-color: royalblue;
}

.btn{
  width: 100%;
  background-color: blueviolet;
  padding: 5px;
}

.delete-btn{
  float: left;
  overflow: hidden;
}